<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <form name="searchForm" class="flex" #searchForm="ngForm" (ngSubmit)=search(searchForm) novalidate>
    <input class="query-textbox borders" name="query" type="text" placeholder="Your query here" id="query" ngModel required>
    <select class="engine-select borders" id="engine" name="engine" ngModel required>
      <option value="www.google.com/search?q=">google.com</option>
      <option value="www.bing.com/search?q=">bing.com</option>
      <option value="search.yahoo.com/search?p=">yahoo.com</option>
    </select> 
    <button class="button-submit borders" type="submit" name="submit" >Search!</button>
  </form>
</div>

